<div class="col-md-12">
test
</div>

<div class="col-md-12">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<%= render :partial => 'latest_post' %>
			</div>
			<div class="col-md-6 ">
				<%= render :partial => 'categories' %>
			</div>
		</div>
	</div>
</div>
